
@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/Helvetica-Light.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'Quicksand-Italicr';
    src: url('../fonts/Quicksand-Italic.ttf');
}

@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat-book.ttf');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century Gothic.ttf');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.otf');
}
.page-wrapper > .breadcrumbs {
  display: none !important;
}

///container
.container-inner {
  margin-top: 10px;
}
@media (min-width: 768px){
  .navigation
   .page-header .header.panel
    .header.content
     .footer.content
      .page-wrapper > .widget
       .page-wrapper > .page-bottom
        .block.category.event
         .top-container,
         .page-main,
          .container-inner {
      max-width: 998px !important;
  }
}



/*Botones**/
.action.primary {
    padding: 2px 12px !important;
    font-size: 1.2rem !important;
    border: none !important;
}


.btn-u.btn-u-green {
    background: #5e945e;
}
.mayuscula {
    text-transform: uppercase !important;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.pt-banner-container ul {
    margin-top: -50px !important;
}
