

.product-info-main{
  margin-top: 40px;
  div.caracteristicas{
      margin-top: 20px;
      margin-bottom: 40px;
  }
}
.product.media{
  margin-top: 40px;
}

/* REVIEWs */
fieldset.fieldset legend.review-legend.legend {
    margin-bottom: 20px;
    padding-bottom: 10px;

    strong{
      display: inline-block;
      margin-left: 30px;
      color: #dd9e58;
    }
}

.catalog-product-view
.product.info
.product.data.items
.item {
    &.active a{
      color: #141215 !important;
      background: none;
      padding-bottom: 5px;
      border-bottom: 6px solid #666668;
    }
    a {
        text-transform: none;
        font-size: 14px;
        font-family: Benguiat;

        color: #cdcdcd !important;
        background: none;
        border: none;
        border-bottom: 6px solid #cdcdcd;

        &:before {
            content: "|";
            right: 0;
            position: absolute;

        }

        &:hover,
        &:active,
        &:focus
        {
          color: #141215 !important;
          background: none;
          border-bottom: 6px solid #666668;
        }
    }
}

.product.data.items > .item.title {
      width: 19%;
      text-align: center;
      margin: 0px;
      padding-bottom: 5px;
}
.product.data.items > .item.content {
    border:none;
}

// Proceso
.col-md-12.proceso {
    margin-bottom: 30px;
    h2{
      font-size: 14px;
    }
    span:first-child {
        display: inline-block;
        width: 45%;
        color: #b8b8b8;
    }
}
.col-md-12.duracion {
    span:first-child {
        display: inline-block;
        width: 45%;
        color: #b8b8b8;
    }
}
