.category-view{
  .category-image  {
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 1000;
      height: 354px;
      margin: 0px;
      top:0;
  }
  .category-description {
    margin-bottom: 20px;
    position: relative;
    top: 450px;
}

  .product-collateral {
    position: relative;
    top: 380px;
    width: 100%;
    ul.tabs{
        list-style: none;
        display: block;
        position: relative;
        li{
          float: left;
          width: 25%;
          text-align: center;

          &  > span{
            color: #cdcdcd;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 100%;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            bottom: -1px;
            a{
              width: 100%;
              display: block;
              text-align: center;
              border-bottom: 6px solid #CDCDCD;
              &:before{
                content: "|";
                  position: absolute;
                  color: #cdcdcd;
                  left: 0px;
              }
              &:hover{
                  color: #666668;
                  border-bottom: 6px solid #666668;
              }
            }
          }
        }
        li:first-child {
            border-left: none;
            & > span a:before{
              content: "";
              position: absolute;
              color: #666666;
              left: 0px;
            }
        }
    }
  }
  &+.page-title-wrapper {
    margin-top: 450px;
    h1{
      display: none;
    }
  }

}
.toolbar-products {
  background: #fff !important;
}

//sidebar
.sidebar.sidebar-main{
  margin-top: 430px;
}
.sidebar-additional{
  display: none;
}
