
footer.page-footer
.footer.content{
  display: none;
}

.footer-container{
  .top-footer {
      background: #fff;
      margin-top: -10px;
      padding-top: 20px;
      padding-bottom: 40px;
  }


  .footer-top {
       h2, h3, h4, h5, h6 {
            font-family: 'Quicksand-Regular';
            color: #2f3030;
      }
      .container a.logo {
          max-width: 100% !important;
      }
      img.footer-logo {
          margin: 15px 0 20px;
      }
  }
}
