

.header-container {
    background: #fff !important;
    color: #666666;
    padding: 0 4%;
    position: relative;
    z-index: 111;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    // -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    // -moz-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);

    .topbar-v3 {
      padding: 0px  !important;
      .cmezcal_utilerias {
          border-bottom: 1px solid transparent;
          margin-bottom: 0px;
      }
    }
    .nav-ozmegamenu-inner
    .mobile-bar-icon {
         visibility: visible !important;
         display: inline-block !important;
         top: auto !important;
    }
     .search-switcher:before  {
      color: #687074 !important; //aqui
    }

    .header-iner {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 998px !important;
        .minicart-wrapper .action.showcart:before,
        .minicart-wrapper .action.showcart.active:before {
            color: #687074 !important
          }
          .h-left {
              height: 75px;
              width: 25% !important;
              .logo {
                  left: 40px;
                  img {
                    height: 35px !important;
                    width: auto;
                    margin-left: 10px;
                }
              }
          }
          .link-hover {
            & > div {
                background: #fff;
              }
            .icon {
                color: #687074 !important
            }
          }
    }
}

.absolute {
  .app{
    position: relative;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    a{
      font-size: 30px;
      color: #798084 !important;
      font-weight: normal;
    }
  }
}




// Menu
.mobile-bar-content{
    h1,h2,h3,h4,h5,h6{
      font-family: 'Quicksand-Regular';
    }
    ul{
      list-style: none;
    }
    &.open {
      left: 0;
      padding-top: 20px;
      max-width: 100%;
      width: 100%;
      position: fixed;
      float: left;
      z-index: 999;
      top: 116px;
      min-height: 250px;
      height: auto;
      background: #fff;


      .mega-menu-content h4 a strong {
          color: #687074;
      }

      & > li > a,
      & .dropdown-header {
          padding: 5px 15px 5px 25px;
      }

      & > li > a {
          line-height: 20px;
      }

      & > li > a:hover,
      & > li > a:focus {
          background-image: none;
      }

      & > li > a {
          color: #777;
      }

      & > li > a:hover,
      & > li > a:focus {
          color: #333;
          background-color: transparent;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
          color: #555;
          background-color: #e7e7e7;
      }

      & > .disabled > a,
      & > .disabled > a:hover,
      & > .disabled > a:focus {
          color: #ccc;
          background-color: transparent;
      }

      &.no-bottom-space {
          padding-bottom: 0;
      }


       .mobile-bar-close{
         right: 0 !important;
         top: 0;
         // position: relative;
       }
       .tabs-mobile{
         display: none;
       }
   }
}



@media (max-width: 568px){
.header-container{
  padding: 0 !important;
  div.header-iner {
   padding: 15px 0;
   margin: 0;
   width: 100% !important;
   .h-left {
     height: auto !important;
     width: 75% !important;
     .nav-ozmegamenu-inner
     .mobile-bar-icon{
       margin-left: 0px;

     }
     .logo {
    //   left: 10px;
       img {
          height: 30px !important;
          width: auto;
          margin-left: 0px;
        }
      }
    }
   .h-right {
      width: auto;
      .absolute{
        position: relative;
        display: inline-block;
        .app, .link-hover{
          display: none;
        }
      }
    }
 }
}
}
@media (max-width: 768px){
  header.header-container
    .header-iner {
        width: 100% !important;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        .h-left {
          width: 75%;
          height: auto;
          .nav-ozmegamenu-inner
          .mobile-bar-icon{
            height: 25px;
            width: 25px;
            margin-left: 0px;
            &:before {
                  vertical-align: middle;
                  font-size: 20px;
              }
            }
            .logo img{
              margin-left: 28px;
              width: auto;
              height: auto;
            }
        }
        .h-right {
            float: right;
            display: inline-block;
            height: 75px;
            .minicart-wrapper,
            .link-hover{
              margin: 0 0 0 0;
            }
            .absolute {
              margin-top: 0;
              position: relative;
              display: inline-block;
              top:25%;
          }
        }
    }
    .mobile-bar-content.open {
        top: 51px;
    }
}
@media (max-width: 992px){
  header.header-container
    .header-iner {
        width: 100% !important;
        .h-left {
          .nav-ozmegamenu-inner
          .mobile-bar-icon{
            margin-left: 0px;
          }
        }
  }

  .cmezcal_amain {
    font-size: 17px !important;
  }
  .mobile-bar-content.open {
      .tabs-mobile {
         display: block;
         margin-top: -20px;
     }
      .mega-menu-content {
          h4 a strong {
              font-weight: normal;
          }
          .submenu_centro,
          .submenu_derecha {
              padding-left: 0;
          }
          .divisiones {
              margin-top: 5px;
              height: auto;
              margin-bottom: 20px;
              p {
                display: none;
              }
          }
      }
      ul {
        padding-left: 5px;
      }
  }

}
@media (min-width: 1200px){
  .header-iner  {
    width: 998px;
    position: relative;
  }
}
