@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
@font-face {
  font-family: 'mezcaldnd';
  src:  url('../fonts/mezcaldnd.eot?puc2k1');
  src:  url('../fonts/mezcaldnd.eot?puc2k1#iefix') format('embedded-opentype'),
    url('../fonts/mezcaldnd.ttf?puc2k1') format('truetype'),
    url('../fonts/mezcaldnd.woff?puc2k1') format('woff'),
    url('../fonts/mezcaldnd.svg?puc2k1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
    font-family: 'Quicksand', sans-serif;
}
.header-container .topbar-v3 .cmezcal_utilerias {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 0px;
}
.cmezcal_utilerias li {
    padding-right: 30px;
    margin-bottom: 0px;
}
.mobile-bar-icon:before {
    vertical-align: middle;
    font-size: 22px;
    padding-top: 5px;
}
.mosaico_banner {
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url(../images/back_blak.png);
    color: #fff !important;
}
.destacado {
    padding-right: 15px;
}
.content_home .container-inner {
    margin-top: 30px;
}
@media (min-width: 768px){
.mosaico_banner {
    margin-top: 106px;
}
    }
.fixmarg{
    width: 100%;
    margin-bottom: 1.5rem;
}
.tienda .linea_derecha h2, .tienda .linea_izquierda h2 {
    margin-bottom: 1rem;
}
.bran{
    padding-top:0px;
}
.form-subscribe .boletin-noticias, .contacto-home {
    padding-top: 65px;
}
.form-subscribe .form-subscribe-header, .contacto-home label{
Font-size:16px
}
.contacto-home .input-box {
    margin-bottom: 15px;
}
.contacto-home .btn-u{
    color: #5d6062;
}
.boletin-noticias .control input#newsletter::placeholder  {
    color: #fff;
}
.footer-container .footer-bottom {
    display:none;
}
.footer-container .footer-top h2, .footer-container .footer-top a {
    color: #2f3030;
}
.footer-top .contacto .col-xs-6 .simple-list {
    margin-top: 20px;
}
.rating-summary .rating-result:before {
    
    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
}
.rating-summary .rating-result>span:before {
    
    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    color:#dd9e58;
}
.product-reviews-summary .rating-result > span:before {

}
.mobile-bar-icon:before {
    content: "\f0c9";
    font-family: 'mezcaldnd' !important;
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
}
/* RESPONSIVE CSS SOLO COMO REFERENCIA
-------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px) 
// No media query since this is the default in Bootstrap  
// SM Small devices (landscape phones, 576px and up) @media (min-width: 576px) { }
// Small devices (landscape phones, 576px and up) @media (min-width: 576px) and (max-width: 767px) { }
// Small devices @media (max-width: 767px) { }
// MD Medium devices (tablets, 768px and up) @media (min-width: 768px) { }
// Medium devices (tablets, 768px and up) @media (min-width: 768px) and (max-width: 991px) {}
// LG Large devices (desktops, 992px and up) @media (min-width: 992px) {}
// Large devices (desktops, 992px and up) @media (min-width: 992px) and (max-width: 1199px) {}
// XL Extra large devices (large desktops, 1200px and up) @media (min-width: 1200px) {}
@media (min-width: 40em) {}
@media (min-width: 62em) {}

@media(max-width: 576px) { }
@media(max-width: 767px) { }
@media(max-width: 991px) { }
@media(min-width: 1200px) { }