<div data-bind="visible: showForm">
    <div class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper" data-bind="i18n: 'Create New HORECA Account'"></span></h1>
    </div>
    <form id="forwards_register_form">
        <fieldset class="fieldset no-margin">
            <legend class="legend"><span data-bind="i18n: 'Personal Data'"></span></legend>
            <div class="row fieldset">
                <div class="field dob required col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="email" class="label"><span data-bind="i18n: 'Email'"></span></label>
                    <div class="control">
                        <input type="text" name="email" id="email" data-validate="{email:true, required:true}" value="" class="input-text"
                               data-bind="textInput: horeca.email"/>
                    </div>
                </div>
                <div class="field password required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <label for="password" class="label"><span data-bind="i18n: 'Password'"></span></label>
                    <div class="control">
                        <input type="password" name="password" id="password"
                               class="input-text"
                               data-password-min-length="8"
                               data-password-min-character-sets="3"
                               data-validate="{required:true, 'validate-customer-password':true}"
                               autocomplete="off" aria-required="true"
                               data-bind="textInput: horeca.password">
                    </div>
                </div>
                <div class="field password_repeat required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <label for="password_repeat" class="label"><span data-bind="i18n: 'Password Repeat'"></span></label>
                    <div class="control">
                        <input type="password" name="password_repeat" id="password_repeat"
                               class="input-text"
                               data-password-min-length="8"
                               data-password-min-character-sets="3"
                               data-validate="{required:true, equalTo:'#password'}"
                               autocomplete="off" aria-required="true">
                    </div>
                </div>
                <div class="field firstname required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <label for="firstname" class="label"><span data-bind="i18n: 'Trademark'"></span></label>
                    <div class="control">
                        <input name="firstname" type="text" class="input-text"
                               id="firstname" data-validate="{required:true}" data-bind="textInput: horeca.firstname"/>
                    </div>
                </div>
                <div class="field lastname required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <label for="lastname" class="label"><span data-bind="i18n: 'Business Name'"></span></label>
                    <div class="control">
                        <input name="lastname" type="text" class="input-text"
                               id="lastname" data-validate="{required:true}" data-bind="textInput: horeca.lastname"/>
                    </div>
                </div>
                <div class="field cif required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="cif" class="label"><span data-bind="i18n: 'Cif'"></span></label>
                    <div class="control">
                        <input name="cif" type="text" class="input-text"
                               id="cif" data-validate="{required:true}" data-bind="textInput: horeca.cif"/>
                    </div>
                </div>
                <div class="field phone required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <label for="phone" class="label"><span data-bind="i18n: 'Phone'"></span></label>
                    <div class="control">
                        <input name="phone" type="text" class="input-text"
                               id="phone" data-validate="{required:true}" data-bind="textInput: horeca.phone"/>
                    </div>
                </div>
                <div class="field web col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="web" class="label"><span data-bind="i18n: 'Web'"></span></label>
                    <div class="control">
                        <input type="text" name="web" id="web" data-validate="{url:true}" value="" class="input-text"
                               data-bind="textInput: horeca.web"/>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset no-margin">
            <legend class="legend"><span data-bind="i18n: 'Billing Address'"></span></legend>
            <div class="row fieldset">
                <div class="field address_street required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="address_street" class="label"><span data-bind="i18n: 'Street'"></span></label>
                    <div class="control">
                        <input name="address_street" type="text" class="input-text"
                               id="address_street" data-validate="{required:true}" data-bind="textInput: horeca.address_street"/>
                    </div>
                </div>
                <div class="field external_number required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="external_number" class="label"><span data-bind="i18n: 'External Number'"></span></label>
                    <div class="control">
                        <input name="external_number" type="text" class="input-text"
                               id="external_number" data-validate="{required:true}" data-bind="textInput: horeca.external_number"/>
                    </div>
                </div>
                <div class="field internal_number col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="internal_number" class="label"><span data-bind="i18n: 'Internal Number'"></span></label>
                    <div class="control">
                        <input name="internal_number" type="text" class="input-text"
                               id="internal_number" data-bind="textInput: horeca.internal_number"/>
                    </div>
                </div>
                <div class="field zip_code required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="zip_code" class="label"><span data-bind="i18n: 'Zip Code'"></span></label>
                    <div class="control">
                        <input name="zip_code" type="text" class="input-text"
                               id="zip_code" data-validate="{required:true}" data-bind="textInput: horeca.zip_code"/>
                    </div>
                </div>
                <div class="field job_country_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="country_id" class="label"><span data-bind="i18n: 'Country'"></span></label>
                    <div class="control control-select">
                        <select name="country_id" type="text" class="select"
                                id="country_id" data-validate="{required:true}"
                                data-bind="options: countries, optionsValue: 'value', optionsText: 'label', value: horeca.country_id">
                        </select>
                    </div>
                </div>
                <div class="field region required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="region_id" class="label"><span data-bind="i18n: 'Region'"></span></label>
                    <div class="control control-select">
                        <select name="region_id" type="text" class="select"
                                id="region_id" data-validate="{required:true}"
                                data-bind="options: regions, optionsValue: 'value', optionsText: 'label', value: horeca.region_id">>
                        </select>
                    </div>
                </div>
                <div class="field town required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="town_id" class="label"><span data-bind="i18n: 'Town'"></span></label>
                    <div class="control control-select">
                        <select name="town_id" type="text" class="select"
                                id="town_id" data-validate="{required:true}"
                                data-bind="options: towns, optionsValue: 'value', optionsText: 'label', value: horeca.town_id">
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset no-margin">
            <legend class="legend"><span data-bind="i18n: 'Shipping Address'"></span></legend>
            <div class="row fieldset">
                <div class="field address_street required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_address_street" class="label"><span data-bind="i18n: 'Street'"></span></label>
                    <div class="control">
                        <input name="shipping_address_street" type="text" class="input-text"
                               id="shipping_address_street" data-validate="{required:true}" data-bind="textInput: shipping.address_street"/>
                    </div>
                </div>
                <div class="field external_number required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_external_number" class="label"><span data-bind="i18n: 'External Number'"></span></label>
                    <div class="control">
                        <input name="shipping_external_number" type="text" class="input-text"
                               id="shipping_external_number" data-validate="{required:true}" data-bind="textInput: shipping.external_number"/>
                    </div>
                </div>
                <div class="field internal_number col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_internal_number" class="label"><span data-bind="i18n: 'Internal Number'"></span></label>
                    <div class="control">
                        <input name="shipping_internal_number" type="text" class="input-text"
                               id="shipping_internal_number" data-bind="textInput: shipping.internal_number"/>
                    </div>
                </div>
                <div class="field zip_code required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_zip_code" class="label"><span data-bind="i18n: 'Zip Code'"></span></label>
                    <div class="control">
                        <input name="shipping_zip_code" type="text" class="input-text"
                               id="shipping_zip_code" data-validate="{required:true}" data-bind="textInput: shipping.zip_code"/>
                    </div>
                </div>
                <div class="field job_country_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_country_id" class="label"><span data-bind="i18n: 'Country'"></span></label>
                    <div class="control control-select">
                        <select name="shipping_country_id" type="text" class="select"
                                id="shipping_country_id" data-validate="{required:true}"
                                data-bind="options: countries, optionsValue: 'value', optionsText: 'label', value: shipping.country_id">
                        </select>
                    </div>
                </div>
                <div class="field region required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_region_id" class="label"><span data-bind="i18n: 'Region'"></span></label>
                    <div class="control control-select">
                        <select name="shipping_region_id" type="text" class="select"
                                id="shipping_region_id" data-validate="{required:true}"
                                data-bind="options: shippingRegions, optionsValue: 'value', optionsText: 'label', value: shipping.region_id">>
                        </select>
                    </div>
                </div>
                <div class="field town required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_town_id" class="label"><span data-bind="i18n: 'Town'"></span></label>
                    <div class="control control-select">
                        <select name="shipping_town_id" type="text" class="select"
                                id="shipping_town_id" data-validate="{required:true}"
                                data-bind="options: shippingTowns, optionsValue: 'value', optionsText: 'label', value: shipping.town_id">
                        </select>
                    </div>
                </div>
                <div class="field col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
                <div class="field delivery_days required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_delivery_days" class="label"><span data-bind="i18n: 'Delivery Days'"></span></label>
                    <div class="control control-select">
                        <select name="shipping_delivery_days" type="text" class="select"
                                id="shipping_delivery_days" data-validate="{required:true}"
                                multiple="multiple"
                                data-bind="options: deliveryDays, optionsValue: 'value', optionsText: 'label', selectedOptions: shipping.delivery_days_id">
                        </select>
                    </div>
                </div>
                <div class="field delivery_time required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="shipping_delivery_time_id" class="label"><span data-bind="i18n: 'Delivery Time'"></span></label>
                    <div class="control control-select">
                        <select name="shipping_delivery_time" type="text" class="select"
                                id="shipping_delivery_time_id" data-validate="{required:true}"
                                multiple="multiple"
                                data-bind="options: deliveryTimes, optionsValue: 'value', optionsText: 'label', selectedOptions: shipping.delivery_time">
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset no-margin">
            <legend class="legend"><span data-bind="i18n: 'IBAN'"></span></legend>
            <div class="row fieldset">
                <div class="field iban required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="iban" class="label"><span data-bind="i18n: 'IBAN'"></span></label>
                    <div class="control">
                        <input name="iban" type="text" class="input-text"
                               id="iban" data-validate="{required:true}" data-bind="textInput: horeca.iban"/>
                    </div>
                </div>
                <div class="field direct_debit_term required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="direct_debit_term" class="label"><span data-bind="i18n: 'Direct Debi Term'"></span></label>
                    <div class="control control-select">
                        <select name="direct_debit_term" type="text" class="select"
                                id="direct_debit_term" data-validate="{required:true}"
                                data-bind="options: directDebitTerm, optionsValue: 'value', optionsText: 'label', value: horeca.direct_debit_term">
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset no-margin">
            <legend class="legend">
                <span data-bind="i18n: 'Contacts'"></span>
                <button type="button" class="action primary" data-bind="i18n:'Add', click: addContact(), visible: contacts().length < 5"></button>
            </legend>

            <div class="row fieldset">
                <!--ko foreach: contacts -->
                <div class="field field_name required  col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="label"><span data-bind="i18n: 'Full Name', attr: {for: 'name_' + $index()}"></span></label>
                    <div class="control">
                        <input type="text" class="input-text" data-validate="{required:true}"
                               data-bind="attr: {name: 'name_' + $index(), id: 'name_' + $index() }, textInput: name"/>
                    </div>
                </div>
                <div class="field field_job_title required  col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="label"><span data-bind="i18n: 'Job Title', attr: {for: 'job_title_' + $index()}"></span></label>
                    <div class="control">
                        <input type="text" class="input-text" data-validate="{required:true}"
                               data-bind="attr: {name: 'job_title_' + $index(), id: 'job_title_' + $index() }, textInput: job_title"/>
                    </div>
                </div>
                <div class="field field_email required  col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="label"><span data-bind="i18n: 'Email', attr: {for: 'email_' + $index()}"></span></label>
                    <div class="control">
                        <input type="text" class="input-text" data-validate="{email: true, required:true}"
                               data-bind="attr: {name: 'email_' + $index(), id: 'email_' + $index() }, textInput: email"/>
                    </div>
                </div>
                <div class="field field_phone required  col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="label"><span data-bind="i18n: 'Phone', attr: {for: 'phone_' + $index()}"></span></label>
                    <div class="control">
                        <input type="text" class="input-text" data-validate="{required:true}"
                               data-bind="attr: {name: 'phone_' + $index(), id: 'phone_' + $index() }, textInput: phone"/>
                    </div>
                </div>
                <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right">
                    <button type="button" class="action secondary" data-bind="i18n:'Remove', click: $parent.removeContact($data)"></button>
                </div>
                <!--/ko -->
            </div>
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" class="action primary" data-bind="click: save(false), i18n: 'REQUEST ACCOUNT'"></button>
            </div>
            <!-- ko if: this.list != undefined -->
            <div class="secondary">
                <button type="button" class="action secondary" data-bind="click: cancel(), i18n: 'CANCEL'"></button>
            </div>
            <!--/ko-->
        </div>

    </form>
</div>
