<?php
/**
 * @var \CulturaMezcal\Forwards\Block\Register\Index $block
 */
?>
<div id="forward_register_form_container" class="" data-bind="scope: 'forward_register_form'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<?php try { ?>
<script type="text/x-magento-init">
    {
        "#forward_register_form_container": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "forward_register_form": {
                        "component": "CulturaMezcal_Forwards/js/register/form",
                        "countries": <?= json_encode($block->getCountries()); ?>,
                        "spainRegions": <?= json_encode($block->getRegions()); ?>,
                        "professions": <?= json_encode($block->getProfessionOptions()); ?>,
                        "workPlaces": <?= json_encode($block->getWorkPlaces()); ?>,
                        "paymentPeriodicity": <?= json_encode($block->getPaymentPeriodicity()); ?>
                    }
                }
            }
        }
    }
</script>
<?php } catch (\Exception $e) {
    echo $e->getTraceAsString();
} ?>
